html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title XBOX
    body 
        .wrapper 
            header.header 
                .header 
                    .header__container 
                        .header__body 
                            a.header__logo(href='index.html') 
                                img(src=require("../../img/svg/logo.png") alt='Logo') 
                            .header__burger 
                                span.header__span 
                            nav.header__menu 
                                ul.header__list 
                                    li 
                                        a.header__link(class='header__link-first' href='index.html') Games
                                    li 
                                        a.header__link(class='header__link-second active' href='about.html') Consoles
                                    li 
                                        a.header__link(class='header__link-third' href='#') Community 
                                    input.header__search(type='text' name='search' placeholder='Search') 
                                    li(class='header__li')
                                        a.header__link(class='header__link-last' href='#') My XBOX 
            about.about 
                .about__call 
                    .call 
                        .call__container 
                            .call__body 
                                .call__title Call of Duty: WWII 
                                .call__text Released on: 23/11/2017 
                                .call__buttons 
                                    button.call__order(type='submit') Order Now 
                                    button.call__more(type='submit') More  Games 
                .about__duty 
                    .duty 
                        .duty__container 
                            .duty__body 
                                .duty__title Call of Duty: WWII 
                                .duty__buttons 
                                    button.duty__press(type='submit') Order Now 
                                    button.duty__tech(type='submit') Technical Specifications 
                                .duty__video 
                                    img(src=require('../../img/svg/Video.png') alt='Video') 
                .about__protection 
                    .protection 
                        .protection__container 
                            .protection__body 
                                .protection__looking 
                                    .protection__texts 
                                        .protection__text Life Advice Looking
                                        .protection__text Through A Window 
                                    .protection__protect 
                                        img(src=(require('../../img/svg/Protect.png')) alt='Protect') 
                                .protection__ansver 
                                    .protection__wappen 
                                        img(src=(require('../../img/svg/Wappen.png')) alt='Wappen') 
                                    .protection__text2 The Best Answers 
                .about__technical 
                    .technical 
                        .technical__container 
                            .technical__body 
                                .technical__tille Technical Specifications
                                .technical__row 
                                    .technical__column 
                                        .technical__text Computer Hardware Desktops
                                        .technical__text And Notebooks And Handhelds
                                        .technical__text(class='technical__text-last') Oh My 
                                        .technical__text Microsoft Patch Management For
                                        .technical__text Home Users 
                                    .technical__column 
                                        .technical__text For Women Only Your Computer
                                        .technical__text(class='technical__text-last2') Usage Could Cost You Your Job 
                                        .technical__text Going Wireless With Your
                                        .technical__text Headphones 
                                    .technical__column 
                                        .technical__text Party Jokes Startling But
                                        .technical__text(class='technical__text-last2') Unnecessary 
                                        .technical__text Get The Boot A Birds Eye Look
                                        .technical__text Into Mcse Boot Camps 
                                .technical__buttons 
                                    button.technical__console(type='submit') XBOX Consoles 
                                    button.technical__start(type='submit') Start streaming on mixer
            include ../../components/allpages/mainpage/footer/footer.pug 
            