doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title XBOX
    body 
        .wrapper 
            include ../../components/allpages/mainpage/header/header.pug 
            about.about 
                .about__call 
                    .call 
                        .call__container 
                            .call__body 
                                .call__title Call of Duty: WWII 
                                .call__text Released on: 23/11/2017 
                                .call__buttons 
                                    button.call__order(type='submit') Order Now 
                                    button.call__more(type='submit') More  Games 
                .about__duty 
                    .duty 
                        .duty__container 
                            .duty__body 
                                .duty__title Call of Duty: WWII 
                                .duty__buttons 
                                    button.duty__press(type='submit') Order Now 
                                    button.duty__tech(type='submit') Technical Specifications 
                                .duty__video 
                                    img(src=require('../../img/svg/Video.png') alt='Video') 
                .about__protection 
                    .protection 
                        .protection__container 
                            .protection__body 
                                .protection__looking 
                                    .protection__texts 
                                        .protection__text Life Advice Looking
                                        .protection__text Through A Window 
                                    .protection__protect 
                                        img(src=(require('../../img/svg/Protect.png')) alt='Protect') 
                                .protection__ansver 
                                    .protection__wappen 
                                        img(src=(require('../../img/svg/Wappen.png')) alt='Wappen') 
                                    .protection__text2 The Best Answers
            include ../../components/allpages/mainpage/footer/footer.pug 
            