@import "../../styles/null.scss";

body,
html {
  font-family: sans-serif;
  height: 100%;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  &__container {
    max-width: 1070px;
    margin: 0 auto;
    padding: 0 10px;
  }
  &__body {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
  }
  &__list {
    display: flex;
  }
  &__list li {
    padding-top: 10px;
  }
  &__link {
    margin-left: 35px;
    font-size: 16px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
  }
  &__link-first {
    color: #ffffff;
  }
  &__link-last::before {
    content: url("../../img/svg/manShape.png");
    padding-right: 5px;
  }
  &__link-first::after,
  &__link-second::after,
  &__link-last::after {
    content: url("../../img/svg/checkmark.png");
    padding-left: 8px;
  }
  &__search {
    width: 209.8px;
    height: 38px;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-left: 37px;
    font-size: 16px;
    line-height: 21px;
    color: #435766;
    padding-left: 15px;
  }
  &__li {
    margin-top: -6px;
  }
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #373a3c;
}
