doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title XBOX
    body 
        .wrapper 
            include ../../components/allpages/mainpage/header/header.pug 
            include ../../components/allpages/mainpage/main/main.pug
            include ../../components/allpages/mainpage/footer/footer.pug 
            