@import "../../styles/null.scss";

body,
html {
  font-family: sans-serif;
  height: 100%;
  font-style: normal;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

// Start header styles

@import "../../components/allpages/mainpage/header/header";

// Finish header styles

// Start main styles

.present {
  max-width: 100%;
  margin-top: 60px;
  background: url("../../img/svg/Starcombat.png");
  &__container {
    max-width: 854px;
    max-height: 644px;
    margin: 0 auto;
    padding: 0 10px;
  }
  &__body {
    display: flex;
    justify-content: flex-end;
  }
  &__title {
    padding-top: 206px;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
  }
  &__subtitle {
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    margin-bottom: 134px;
  }
  &__trailer {
    height: 38px;
    width: 136px;
    border-radius: 4px;
    background: #8dd83d;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
  }
  &__games {
    height: 38px;
    width: 148px;
    border-radius: 4px;
    background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
  }
  &__buttons {
    margin-bottom: 264px;
  }
}

.entertainment {
  background: radial-gradient(100% 100% at 50% 0%, #686c6f 0%, #373a3c 100%);
  &__container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10px;
  }
  &__ball {
    padding-top: 64px;
    text-align: center;
    margin-bottom: 16px;
  }
  &__title {
    font-size: 48px;
    line-height: 56px;
    color: #ffffff;
    text-align: center;
  }
  &__subtitle {
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 43px;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__column {
    width: 320px;
    height: 420px;
    background: #ffffff;
    border: 1px solid #8dd83d;
    border-radius: 4px;
    margin-bottom: 162px;
  }
  &__picture {
    margin-bottom: 16px;
  }
  &__picture2 {
    margin-top: 71px;
    margin-left: 54px;
    margin-bottom: 64px;
  }
  &__picture3 {
    margin-top: 33px;
    margin-left: 59px;
    margin-bottom: 48px;
  }
  &__epigraph {
    font-size: 18px;
    line-height: 21px;
    color: #435766;
    margin-bottom: 13px;
    padding-left: 22px;
  }
  &__text {
    font-size: 24px;
    line-height: 28px;
    color: #435766;
    padding-left: 22px;
  }
  &__text-last {
    margin-bottom: 38px;
  }
  &__button {
    width: 278px;
    height: 60px;
    background: #8dd83d;
    border-radius: 4px;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    margin-left: 21px;
  }
  &__content {
    margin-bottom: 259px;
  }
}

.store {
  max-width: 100%;
  background: url("../../img/svg/story.png") center;
  &__container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px;
  }
  &__title {
    font-family: "HelveticaNeue";
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 28px;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__picture {
    margin-bottom: 22px;
  }
  &__column {
    height: 420px;
    width: 320px;
    border-radius: 4px;
    background: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.9;
    border: 1px solid #8dd83d;
  }
  &__column2 {
    width: 352px;
    height: 462px;
    margin-bottom: 58px;
  }
  &__column4 {
    width: 282px;
  }
  &__epigraph {
    font-family: "HelveticaNeue";
    font-size: 18px;
    line-height: 21px;
    color: #435766;
    padding-left: 21px;
  }
  &__epigraph1 {
    margin-bottom: 16px;
  }
  &__epigraph2,
  &__epigraph3,
  &__epigraph4 {
    margin-bottom: 109px;
  }
  &__text {
    font-family: "HelveticaNeue";
    font-size: 21px;
    line-height: 25px;
    color: #435766;
    padding-left: 21px;
  }
  &__text2 {
    margin-bottom: 43px;
  }
  &__button {
    height: 60px;
    width: 278px;
    border-radius: 4px;
    background: #8dd83d;
    font-family: "HelveticaNeue";
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    margin-left: 21px;
  }
  &__button4 {
    width: 245px;
  }
  &__end {
    display: flex;
    justify-content: center;
  }
  &__button-main {
    height: 53px;
    width: 207px;
    border-radius: 4px;
    background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
    font-family: "HelveticaNeue";
    font-size: 21px;
    line-height: 21px;
    color: #ffffff;
    padding-top: 11px;
    padding-left: 47px;
    margin-bottom: 140px;
  }
}
