doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title XBOX
    body 
        .wrapper 
            include ../../components/allpages/mainpage/header/header.pug 
            include ../../components/allpages/mainpage/main/main.pug
            footer.footer 
                .footer 
                    .footer__container 
                        .footer__body 
                            .footer__row 
                                .footer__column 
                                    .footer__title XBOX
                                    ul.footer__list 
                                        li 
                                            a.footer__link(href='') Support
                                        li 
                                            a.footer__link(href='') Contact us
                                        li 
                                            a.footer__link(href='') Privacy & cookies 
                                        li 
                                            a.footer__link(href='') Terms of use 
                                .footer__column 
                                    .footer__title Developers
                                    ul.footer__list 
                                        li 
                                            a.footer__link(href='') Games
                                        li 
                                            a.footer__link(href='') Windows 10
                                        li 
                                            a.footer__link(href='') Creators Program
                                        li 
                                            a.footer__link(href='') Designed for XBOX
                                .footer__column 
                                    .footer__title Follow Us
                                    ul.footer__messengers 
                                        li 
                                            a.footer__link(href='') 
                                                img(src=require('../../img/svg/Faacebook.png') alt='Facebook')
                                        li 
                                            a.footer__link(href='') 
                                                img(src=require('../../img/svg/Twitter.png') alt='Twitter')
                                        li 
                                            a.footer__link(href='') 
                                                img(src=require('../../img/svg/Instagram.png') alt='Instagram') 
                            .footer__line 
                                img(src=require('../../img/svg/Line 2.png')) 
                            .footer__end 
                                .footer__language English (United States)
                                .footer__sign  © Microsoft 2017