header.header 
    .header 
        .header__container 
            .header__body 
                a.header__logo(href='index.html') 
                    img(src=require("../../img/svg/logo.png") alt='Logo') 
                .header__burger 
                    span.header__span 
                nav.header__menu 
                    ul.header__list 
                        li 
                            a.header__link(class='header__link-first activ' href='index.html') Games
                        li 
                            a.header__link(class='header__link-second' href='about.html') Consoles
                        li 
                            a.header__link(class='header__link-third' href='#') Community 
                        input.header__search(type='text' name='search' placeholder='Search') 
                        li(class='header__li')
                            a.header__link(class='header__link-last' href='#') My XBOX